html {
  background: repeating-linear-gradient(-30deg, #c9fcff, #c9fcff 10px, #d4fdff 10px, #d4fdff 20px);
  border-top: 10px solid #b3fbff;
  font-family: "Fredoka One", sans-serif;
}

h1 {
  color: #990073;
  transform: rotate(-10deg);
}

p {
  color: #c09;
  transform: rotate(-6deg);
  max-width: 19em;
}

.btn {
  border-color: #990073;
  color: #c09;
  margin-left: .5em;
}

.btn-ghost:hover {
  background-color: rgba(153, 0, 115, .2);
  border-color: #990073;
  color: #c09;
}

.intro p {
  margin-left: .5em;

}

.intro {
  text-shadow: 1px 2px rgba(0, 0, 0, 0.25);
  transform-origin: left center;
  animation: opacity 1s linear;
  padding-left: 1em;
}

.ice-wrapper {
  position: relative;
}

.ice {
  position: absolute;
}

.cherry {
  animation: cherry 300ms 1s linear forwards;
  left: calc(50% - 100px);
  z-index: 10;
}

.melt {
  animation: fudge 300ms 400ms linear forwards;
  left: calc(50% - 160px);
  top: calc(50% - 60px);
  z-index: 9;
}

.chips {
  animation: chocolate 300ms 300ms linear forwards;
  left: calc(50% - 140px);
  top: 180px;
  z-index: 8;
}

.mint {
  animation: mint 300ms 200ms linear forwards,
  left: calc(50% - 160px);
  top: 300px;
  z-index: 7;
}

.cone {
  animation: cone 300ms linear forwards;
  left: calc(50% - 150px);
  top: 430px;
  z-index: 11;
}

@keyframes opacity {

  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
