html {
  background: repeating-linear-gradient(-45deg, #c9fcff, #c9fcff 10px, #d4fdff 10px, #d4fdff 20px);
  border-top: 10px solid #b3fbff;
  font-family: "Fredoka One", cursive;
}

h1 {
  color: #990073;
  transform: rotate(-10deg);
}

p {
  color: #c09;
  transform: rotate(-6deg);
}

.btn {
  border-color: #990073;
  color: #c09;
  margin-left: .5em;
}

.btn:hover {
  background-color: rgba(153, 0, 115, .4);
  border-color: #990073;
  color: #c09;
}

.intro p {
  margin-left: .5em;
  max-width: 19em;
}
